body{
  background: radial-gradient(circle at center, #13364e80 0%, transparent 100%), #0d0f0e;
  background-size: cover;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  display:flex;
  flex-direction: column;
  font-family: Kanit;
}
.header {
  background: linear-gradient(to bottom, #0f766e80, #13364e80);
  height: max-content;
  color: white;
  padding: 2.5em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2.5em;
  border-radius: 0 0 25px 25px;
}
.header-grid {
  display: grid;
  grid-template-rows: repeat(2, max(auto));
  max-width: 50em;
  gap: 1.5em;
}
.color {
  display:flex;
  flex-wrap: wrap;
  justify-content: start;
}
.copyButton {
  padding: 0.5em 2em; 
  width: 25%; 
  height: 2.5em;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.25s ease, color 0.25s ease;
  border: none;
  font-family: Kanit;
  background-color: #f0f0f0;
}
.copyButton:nth-child(1) {
  border-radius: 10px 0 0 10px;
}
.copyButton:nth-child(4) {
  border-radius: 0 10px 10px 0;
}
.copyButton.active {
  background-color: white !important;
  color: white !important;
}

.footer {
  background: linear-gradient(to bottom, #0f766e80, #13364e80);
  height: max-content;
  color: white;
  padding: 1.5em;
  text-align:start;
  width: 100%;
  box-sizing: border-box;
  margin-top: auto;
  border-radius: 25px 25px 0 0;
}
.content{
  background: #0f766e40;
  border-radius: 15px;
  padding: 10px;
  color: white;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}
.column {
  column-count: 4;
  gap: 25px;
  height: max-content;
  margin-top: 25px;
  margin-bottom: 0px;
  padding: 0;
}
.column > div {
  background: #0f766e40;
  border-radius: 15px;
  padding: 1em;
  margin-bottom: 0px;
  color: white;
  break-inside: avoid;
  transition: transform 0.5s ease, background-color 0.5s ease, border 0.5s ease, box-shadow 0.5s ease;
}
.column > div:last-child {
  margin-bottom: 0;
}
.column > div:hover {
  background: #13364e40;
  transform: scale(1.05);
  box-shadow: 0 5px 5px #00000080;
}
.column > div:hover button {
  transition: background-color 0.5s ease;
  background-color: #2391DE;
}
.column > div > div > h1 {
  margin: 0;
  filter: none;
}
.column > div > div > button {
  background-color: #0f766e;
  color: white;
  border-radius: 10px;
  padding: 1em;
  margin-top: 1em;
  width: 100%;
  border: none;
  cursor: pointer;
  font-family: Kanit;
  box-sizing: border-box;
  position: relative;
  clip-path: inset(0px round 5px);
  overflow: hidden;
}
.column > div > div > button > div {
  z-index: 5;
  position: relative;
}
.column > div > div > button:hover div {
  transition: ease 0.5s color;
  color: #2391DE;
}
.column > div > div > button::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 1px;
  background-color: white;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.75s ease;
  z-index: 1;
}
.column > div > div > button:hover::before {
  transform: translate(-50%, -50%) scale(1500);
}

/* buttons */
.buttons {
  display: flex;
  flex-wrap: nowrap;
  position: fixed;
  gap: 0px;
  inset: auto 15px 15px auto;
}
/* buttons */

/* gotop button */
.gotop {
  width: 5em;
  height: 3em;
  background-color: rgba(0,0,0,0.5);
  backdrop-filter: blur(5px);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: none;
  transition: background-color 0.5s ease, box-shadow 0.5s ease;
}
.gotop:hover {
  background-color: black;
}
.uppy {
  filter: invert(1);
  opacity: 0.5;
}
.gotop:hover .uppy {
  transition: opacity 0.5s ease;  
  opacity: 1;
}
/* gotop button */

/* sectionbtn */
.sectionbtn {
  width: 5em ;
  height: 3em ;
  background-color: rgba(0,0,0,0.5);
  backdrop-filter: blur(5px);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border: none;
  transition: background-color 0.5s ease, color 0.5s ease, box-shadow 1s ease;
}
.sectionbtn:hover {
  background-color: black;
}
.sectionbtn:focus {
  outline: none;
}
select.sectionbtn {
  color: rgba(255,255,255,0.5);
  font-family: 'Kanit', sans-serif;
  appearance: none;
  text-align: center;
  font-weight: bold;
}
select.sectionbtn:hover {
  color: white;
}
select.sectionbtn div {
  color: white;
  font-family: 'Kanit', sans-serif;
  appearance: none;
  text-align: center;
}
select.sectionbtn option {
  color: white;
  font-family: 'Kanit', sans-serif;
  background-color:black;
}
/* sectionbtn */

/* themebtn */
.themebtn {
  width: 5em ;
  height: 3em ;
  background-color: rgba(0,0,0,0.5);
  backdrop-filter: blur(5px);
  border: none;
  transition: background-color 0.5s ease, color 0.5s ease, box-shadow 1s ease;
}
.themebtn:hover {
  background-color: black;
}
.themeicon {
  filter: invert(1);
  opacity: 0.5;
}
.themebtn:hover .themeicon {
  transition: opacity 1s ease;  
  opacity: 1;
}
/* themebtn */

/* view on phone */
@media (max-width: 767px) {
  body{
    overflow-x: hidden;
    overflow-y: auto;
  }
  .column {
    column-count: 1;
    column-width: auto;
  }
  .header {
    display : grid;
    justify-items: center;
    gap: 1.5em;
  }
  .header > div > img {
    width: 125px;
    height: 125px;
  }
  .header-grid > div > h1 {
    font-size: 36px !important;
  }
  .header-grid {
    display : grid;
    max-width: 767px;
    justify-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.5em;
  }
  .color {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .color > div {
    padding: 0 2.5em 0 2.5em;
    width: 5em;
    text-align: center;
    cursor: pointer;
  }
  .column > div {
    margin-bottom: 25px; }
  .column > div:last-child {
    margin-bottom: 0;
  }
}

/* view on ipad */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .header-grid {
    gap: 1em;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation:portrait) {
  .column {
    column-count: 1;
  }
  .header {
    display : grid;
    justify-items: center;
    gap: 1.5em;
  }
  .header-grid {
    display : grid;
    justify-items: center;
    text-align: center;
    gap: 1.5em;
  }
  .color {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .color > div {
    padding: 0 2.5em 0 2.5em;
    width: 5em;
    text-align: center;
    cursor: pointer;
  }
  .column > div {
    margin-bottom: 25px; }
  .column > div:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 1025px) {
  .footer {
    width: 100%;
  }
}

/* theme */
body.light {
  background: radial-gradient(circle at center, #73c7ffc0 0%, transparent 100%), #ebf5ff;
}
body.light .header, body.light .footer {
  background: linear-gradient(to bottom, #5eead480, #73c7ff80);
  color: #13364e;
}
body.light .content{
  background: #ffffffa0;
  color: #13364e;
}
body.light .column > div {
  background: #ffffffa0;
  border-radius: 15px;
  color: #13364e;
  break-inside: avoid;
}
body.light .column > div:hover {
  background: #d7efff;
  box-shadow: 0 5px 5px #0067ac40;
}
body.light .column > div:hover button {
  background-color: #73c7ff;
}
body.light .column > div > div > button {
  background-color: #5eead4;
  color: #13364e;
}
body.light .column > div > div > button:hover div {
  color: #73c7ff;
}
body.light .column > div > div > button::before {
  background-color: #13364e;
}


body.light .gotop, body.light .themebtn {
  background-color: rgba(255,255,255,0.5);
  transition: background-color 0.5s ease, box-shadow 0.5s ease;
}
body.light .gotop:hover, body.light .themebtn:hover {
  background-color: white;
}
body.light .uppy, body.light .themeicon {
  filter: invert(0);
  opacity: 0.5;
}
body.light .sectionbtn {
  background-color: rgba(255,255,255,0.5);
  transition: background-color 0.5s ease, color 0.5s ease, box-shadow 0.5s ease;
}
body.light .sectionbtn:hover {
  background-color: white;
}
body.light select.sectionbtn {
  color: rgba(0,0,0,0.5);
}
body.light select.sectionbtn:hover {
  color: black;
}
body.light select.sectionbtn div {
  color: black;
}
body.light select.sectionbtn option {
  color: black;
  background-color:white;
}

body::-webkit-scrollbar {
  background: #0d0f0e;
  width: 15px;
  height: 15px;
}
body::-webkit-scrollbar-thumb {
  background: #0f766e;
  border-radius: 25px;
  width: 50%;
  height: 15px;
}
body.light::-webkit-scrollbar {
  background: #ebf5ff;
}
body.light::-webkit-scrollbar-thumb {
  background: #5eead4;
}

body.dark .sug {
  color: #50C878;
}
body.light .sug {
  color: #175b2e
}